node_modules/
.env
package-lock.json
config.json
config.json.bak
thumbnails/

# SQLite database files
*.db
*.db-shm
*.db-wal
*.db.bak

# Ignore markdown files
# Ignore all markdown files...
*.md
# ...except README.md
!README.md

# Ignore docs folder
docs/